

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="20221008.css">
    
</head>
<body>
    
        <h1 id="title" class="alert alert-danger"> 10/8 大満足めちゃくちゃ最高の旅 ～ 葉山・逗子・湘南・金沢文庫 ～</h1>
        <div id="events">
          <p>
7:30くらいに起きた！日記とか歯磨き！8:30くらいには出てたと思う！

藤沢駅周辺もホテル前も、江ノ電も懐かしい・・・！

眠い・・・けど海が綺麗！！！！！！！！

七里ヶ浜で降りてbillsへ！海のみえるカフェ！

高級感があって雰囲気がある、旅の朝の気分が盛り上がるお店！！！！！！！

海が本当にいい・・・昔の夏休みの海とかを思い出したり！

やっぱり湘南の海はいい！

なんか、自分の大事なものを思い出させてくれる気がした。

スクランブルエッグ、バター効いてて美味しい！パンも香ばしい！マッシュルームも美味しいしソーセージとかベーコン？もおいしかった！そしてその料理たちを、海をみながら優雅に食べられて最高だった！

パンケーキも美味しかった！だが腹がはち切れそう、、、！

店員さんの接客良かった



そのあと浜辺の方に降りて、月詠みの曲を聴きながら歩いた！

日が照り出して海が青い！



七里ヶ浜から間違えて鎌倉高校前に行ってしまった！そのあと鎌倉駅へ！

鎌倉駅久しぶりだけど、なんかめっちゃ情緒というか味があっていいな！湯布院駅みたいな駅の外観とか、いろいろいい！

そのあと逗子へ！逗子！ついにきた！

バスで一式海岸へ！バス内で少し寝た。ウトウトしただけだけど、これが功を奏した！
葉山、着！！！この緑の感じや田舎感と青い空が最高にいい・・・！のどか！
これだけで心が癒される！
一式海岸！おおお、海！！！！！！！
空を眺めながら月詠みの曲を聴いたり！
そのあと奥のほうの、緑の芝生があるほうへ！
なんか、この緑とか・・
芝生を見たり手に触れたりしていて、感じるものがあった。
芝生や、この空気・・・！
今の自分が欲していたもの、足りなかったものはこの田舎の空気や緑なんだと自覚したし、
芝生に触れるだけで癒されて涙が出た。
風に吹かれながら座ってぼーっとしたり大の字になって寝そべったり。
こういう時間が幸せで、大事なもの、生きていこうと思える理由なのだと分かった。
歌を歌う そんな些事なことで 生きていたいと思えた ああ、 間違っていたんだ 夢も愛もお金も明日も 何も要らない

最高の時間だった
心が本当に癒された。
最近抱えてた頭の中のものをすべて浄化できた

葉山最高！！！！！！！！！！



そのあとバスに乗ろうとしたけど、しおさい公園に寄るのを忘れていた、、、！

なので公園へ！

公園、めっちゃのどか！緑がいい・・・！

特に滝と、鯉がいる池がよかった！緑ほんといいし、滝は、この水の感じや流れのドドドドドってのがいい！

奥の方の木に囲まれた道も、いい！

資料館みたいなのあって、そこのニオイとか雰囲気が脇町の昔の記憶に似たものを感じた！

丸木舟とか置いてあった！
そのあとバスで森戸神社へ！神社感の雰囲気が強かった！
そのあと橋を渡って森戸海岸へ！エモい。この砂浜と海と建物。青春感ある。空気がいい。
そのあとバス！
逗子・葉山駅のあたり夕暮れも相まってエモかったしすがすがしい気持ちになれた！
金沢文庫へ！初めて降り立つ地にワクワク！
駅前の商店街？歩きながら、へえー！こんな感じなんだと新鮮。
市場食堂へ！天ぷらと刺身の定食！美味しかった！
そのあとうろうろして帰った！
快速特急で、座席ゆったりと座れた。
こんなに大満足で精神的に満たされた旅はいつぶりだろう・・・！
大満足で帰路についた。

大森町で降りた！いつもより景色がきれいにみえた！
帰って布団の中でダラダラしたり、トイレで開発者ツールの本を読んだり！
眠すぎるし疲れすぎてる・・・！
こんなに濃い1日を過ごしたんだ・・・！と少し信じられなかった。
いい旅ができた証拠だ
          </p>

        <h2 id="life" class="alert alert-primary">生活記録</div>
        <h3 id="weight">体重 : 81.0kg</div>
        <h3 id="eat"></div>
        <h2 id="money"></h2>
        <div id=""></div>
        <h2 id="schedule" class="alert alert-success">明日の予定</h2>
            <div id="eat_schedule">
                <p>朝ごはん : </p>
                <p>昼ごはん : かえん</p>
                <p>夜ごはん : カレーと、鶏肉やいたもの</p>
            </div>
            <ul>
                <li>白湯・体操</li>
                <li></li>
                <li>21時から振り返りタイム</li>
                <li>マイナンバー</li>
            </ul>
            <h2 id="schedule" class="alert alert-warning">学んだこと</h2>
                <p>
                  大文字・小文字のスコープはpackage単位！
                  MySQLの暗黙の型変換に注意する！
                  panicは、本当にどうしようもないときプログラムを止めるために使う！例外ではない！
                  golangではuint8とか使える！
                  
                </p>
              <h2 id="schedule" class="alert alert-warning">疑問点</h2>
                <ul>
                  <li>リクエストが来たときにまず、ログインしているかどうかを確かめるが、reqオブジェクトがセッションを持っているかどうかだけで判断するだけでいいのか</li>
                  <li>app-formなんかちゃら形式の時はbody-parserを使う！</li>
                  <li>セッションには何の情報を含めるべきか、含めないべきか</li>
                  <li>トランザクションの使いどころ</li>
                </ul>
            <h2 id="schedule" class="alert alert-warning">その他</h2>
            <ul>
                <li>白湯を飲んだり運動したり、体温を高めると集中力が増すような。</li>
                <li>最近、</li>
            </ul>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   

           <!-- やることリスト -->
           <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">やることリスト</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">アマゾン注文</a></li>
              <li><a href="#">会社のマイナンバー</a></li>
              <li><a href="#">結婚式の招待状</a></li>
              <li>人と話すときの話題を考える！</li>
            </ul>
          </ul>


          <!-- よかったこと -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">よかったこと</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <!-- 反省点 -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">反省点</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">ともだち</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>
        <form action = "localhost:8080">
            <input type = "password" name = "password" placeholder="パスワード">
        </form>
    </body>
</html>