

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="20220908.css">
    
</head>
<body>
    
        <h1 id="title" class="alert alert-danger">9/9 画面設計と今後の研修方針と歓迎と羽田といじめるヤバい奴</h1>
        <div id="events">
            <p>
              今日は朝会のときに財津さんと吉内さんとだべった気がする。
              今日は画面遷移図の作成！
              14時から今後の研修内容についての相談！Go言語でやることに。
              16:15から夕会で、ずっと吉内さんとだべったり！
              17時からG3の会議！
              小林さん、どうやら心の病気らしい。個チャで話した。
            </p>
            <p>
              歓迎本店へ！店内、活気あるし中華料理屋っぽい雰囲気！
              独特のいい雰囲気というか本格的なお店感がすごくいい！
              羽根つき餃子もショーロンポーも水餃子も、
              肉汁というか中身が詰まっててめっちゃうまい！レタスチャーハンもおいしい！
              皮がもちもちしてる！！！！！！
              なんというか「本物」のお店であると同時に食べてて楽しいお店だった！！！
            </p>
            <p>
              そのあと羽田へ！！！チャリ！
              天空橋のところの橋を渡ったときの、夜景や建物からの光、広大な空におおおおおおおお！
              ってなった！急にめっちゃ開けた空、そして飛行機・・・・！！！
              こんないいところがあったなんて！と感動した！
              走ってて楽しい！
              Zepp Hanedaみて、今年の3月や三パシライブを思い出した！
              羽田空港第三ターミナル入って、第二ターミナルいったけどお店いろいろしまってたので帰った。
              帰りは直帰せず、チャリで第三ターミナルの奥のほう行って、多摩川沿いのところを進んだ！
              いい・・・！橋の下を歩いたり、神奈川方面が見えるし空が広いし風がいい・・・！
              そのあと弁天橋の、鳥居のところで座って、風とか感じながら座ってリラックスしたり！
              帰り、道の開拓！弁天橋の通りを直進したり羽田神社をみたり！
              楽しかった～～～！
              
              5時くらいまで、いじめるやばいやつ読んだ！白咲と加藤が特にいい・・・・・！
            </p>

        <h2 id="life" class="alert alert-primary">生活記録</div>
        <h3 id="weight">体重 : 81kg</div>
        <h3 id="eat">朝:? 昼: カレー 夜: 歓迎本店</div>
        <h2 id="money">3000</h2>
        <div id=""></div>
        <h2 id="schedule" class="alert alert-success">明日の予定</h2>
            <div id="eat_schedule">
                <p>朝ごはん : ツナごはん</p>
                <p>昼ごはん : カレー、まいバスケットで買ったもの</p>
                <p>夜ごはん : カレー　上記と同じく。</p>
            </div>
            <ul>
                <li>洗濯、コインランドリー</li>
                <li>会同中に体操とごはん</li>
                <li>午前中: 要求定義、要件定義についてまとめる</li>
                <li>まず結婚式の投函</li>
                <li>発明してみよう</li>
                <li>ポスト確認</li>
            </ul>
            <h2 id="schedule" class="alert alert-warning">学んだこと</h2>
                <ul>
                  <li>Webサーバーが矢面に立ってくれるおかげでセキュリティ対策はWebサーバーだけでよくなる！</li>
                  <li>裏側ではJSがいろいろ動いてて、JSが画像とか取ってきてくれる！</li>
                  <li>Reactは、モデル？みたいな部分部分を示すものがある！</li>
                  <li>直接APIサーバーに触れると攻撃箇所が増える！</li>
                  <li>Reactはportが立つ</li>
                  <li></li>
                </ul>
              <h2 id="schedule" class="alert alert-warning">疑問点</h2>
                <ul>
                  <li>リクエストが来たときにまず、ログインしているかどうかを確かめるが、reqオブジェクトがセッションを持っているかどうかだけで判断するだけでいいのか</li>
                  <li>app-formなんかちゃら形式の時はbody-parserを使う！</li>
                  <li>セッションには何の情報を含めるべきか、含めないべきか</li>
                  <li>トランザクションの使いどころ</li>
                </ul>
            <h2 id="schedule" class="alert alert-warning">その他</h2>
            <ul>
                <li>白湯を飲んだり運動したり、体温を高めると集中力が増すような。</li>
                <li>最近、</li>
            </ul>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   

           <!-- やることリスト -->
           <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">やることリスト</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">アマゾン注文</a></li>
              <li><a href="#">会社のマイナンバー</a></li>
              <li><a href="#">結婚式の招待状</a></li>
              <li>人と話すときの話題を考える！</li>
            </ul>
          </ul>


          <!-- よかったこと -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">よかったこと</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <!-- 反省点 -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">反省点</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">ともだち</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>
        <form action = "localhost:8080">
            <input type = "password" name = "password" placeholder="パスワード">
        </form>
    </body>
</html>