

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="20220908.css">
    
</head>
<body>
    
        <h1 id="title" class="alert alert-danger"> 9/26 ジョブズの新芽と俺たちのミライとログイン機能と栄屋丸</h1>
        <div id="events">
          <p>
            朝会のとき、ログイン機能を優先に変えます！と言ったら投野さんに、そういう姿勢いいねと褒めていただいた！
            俯瞰して考える習慣というか。
            午前中にユーザー検索機能のPR出した！
            それに伴ってDB設計とかAPIのページを直した！
            
            昼、郵便局へ！そのあと栄屋丸へ！！！台湾まぜうどん！！！お店の雰囲気もいいし麺もちゃんとしてるしおいしいし！！！！！！
            いいところ発見！！！！！！！
            
            昼からログイン機能！クラス分けがあまりできてないなと思ったのとエラーハンドリング直したり！
            夕会のとき、投野さんに、パスワードが平文で送られてるよって言われて勉強になった！！！
            
            
            寝不足とかもあってめっちゃ疲れた！！！19-20時くらいダラダラ！
            21時からの電話に備えて20時くらいからお風呂とかご飯とか準備したけど
            はなえさん寝てた・・・
            待ちきれないので、コーディング作業へ！
            ログイン機能を動かしてみて、ログはこのほうがいいんじゃないかとか、いろいろつくったものに対して考えた！
            23時くらいに布団へ！
            
            ジョブズから！！！！！！！！剪定したところから新芽が！！！！！！！！！！
            うおおおおおおおおおおおおお！！！！！！
            写真みて気づいた。お母に、よく気づいたね、和真くんの植物への愛情が凄い！と言っていただけた！
            ついに！！！！！！！
            うおおおおおおおおおおおおおお！！！！！
            そうだ、これからがミライだ、未来だ
            俺もジョブズたちも、未来があるんだ、共にミライに進んでいるんだ、と感じてグッと背中を押してくれた気がした
            ものすごく、熱い気持ちになった
            本音を隠したドア　思い切りぶち破った　胸が熱く疼いた　荒い呼吸吐き出す 行かなくちゃ 君に一番に会いたくて　つまづいたって知らない 心のスピードのままに走った
            一緒に世界またぎたくて　つまずいたって知らない
繋いだ手離さないまま走った
もう私　おそれない
物語の続き紡ぐよ

            力強い気持ちをもらえた！！！！！！！！！！
            一緒に！！！！！！！！ミライを！！！！！！！！生きよう！！！！！！！
          </p>

        <h2 id="life" class="alert alert-primary">生活記録</div>
        <h3 id="weight">体重 : 83.1kg</div>
        <h3 id="eat"></div>
        <h2 id="money"></h2>
        <div id=""></div>
        <h2 id="schedule" class="alert alert-success">明日の予定</h2>
            <div id="eat_schedule">
                <p>朝ごはん : </p>
                <p>昼ごはん : かえん</p>
                <p>夜ごはん : カレーと、鶏肉やいたもの</p>
            </div>
            <ul>
                <li>白湯・体操</li>
                <li></li>
                <li>21時から振り返りタイム</li>
                <li>マイナンバー</li>
            </ul>
            <h2 id="schedule" class="alert alert-warning">学んだこと</h2>
                <p>
                  大文字・小文字のスコープはpackage単位！
                  MySQLの暗黙の型変換に注意する！
                  panicは、本当にどうしようもないときプログラムを止めるために使う！例外ではない！
                  golangではuint8とか使える！
                  
                </p>
              <h2 id="schedule" class="alert alert-warning">疑問点</h2>
                <ul>
                  <li>リクエストが来たときにまず、ログインしているかどうかを確かめるが、reqオブジェクトがセッションを持っているかどうかだけで判断するだけでいいのか</li>
                  <li>app-formなんかちゃら形式の時はbody-parserを使う！</li>
                  <li>セッションには何の情報を含めるべきか、含めないべきか</li>
                  <li>トランザクションの使いどころ</li>
                </ul>
            <h2 id="schedule" class="alert alert-warning">その他</h2>
            <ul>
                <li>白湯を飲んだり運動したり、体温を高めると集中力が増すような。</li>
                <li>最近、</li>
            </ul>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   

           <!-- やることリスト -->
           <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">やることリスト</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">アマゾン注文</a></li>
              <li><a href="#">会社のマイナンバー</a></li>
              <li><a href="#">結婚式の招待状</a></li>
              <li>人と話すときの話題を考える！</li>
            </ul>
          </ul>


          <!-- よかったこと -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">よかったこと</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <!-- 反省点 -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">反省点</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">ともだち</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>
        <form action = "localhost:8080">
            <input type = "password" name = "password" placeholder="パスワード">
        </form>
    </body>
</html>