

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="20220908.css">
    
</head>
<body>
    
        <h1 id="title" class="alert alert-danger">9/21 まなみさん</h1>
        <div id="events">
            <p>
              今日はちょっとクラス設計について考えた！
             　引数チェックはどこがやるべきか、アプリの仕様にあっているかチェックするのはどこか、とか！
             　14時から、発明してみよう研修！自分の発明を説明したあと、1つに絞って話し合い！
             　書記やったけど話を理解するのもまとめるのも大変だった！
             　
             　終わったあと、手紙を書いたり服を着たり、準備！
             　新宿駅へ！あついし、まなみさんに渡す水を買ったり、駅をうろうろ！
             　まなみさんと合流！日本男児の人ですか？と話しかけた！
             　ちっちゃくてかわいい！
             　北丸へ！移動中、社会福祉士ってなに？みたいな話とか、ご実家の話とかした！
             　
             　醤油入れに間違えて日本酒入れっちゃった・・・！
             　
             　介護の職を目指したきっかけとか中高の部活とか新島のバイトとか、いろいろ話した！
             　仕事のこと大変といいつつも愚痴を一つも言わない感じが、よかった。
             　ときどき間が開いたり、ちょっとだけ気まずかったけど、わりと盛り上がった気がする。
             　こっちが結構仕事のことを聞きまくった感。
             　シンプルに、介護職のこと結構驚きが多くて聞いてて面白かった。
                部署移動した～とか。
             　肉寿司めっちゃおいしかった！
             　
             　人と目を見て話すって、いいなあ・・・！
             　
             　それにしてもまなみさん、優しい！
             　なんか欠点の1つもないな・・・財布出してくれたし・・・
             　
             　そのあと、おごった分のお礼をします！とコンビニまで！
             　道中、思い入れの深かった施設の人とか、話してくれた！
             　広い道に出た時、秋の風いいね～って話した！
             　
             　さつまいもタルトとコーラをお願いした！
             　ありがとうまなみさん～！
             　
             　めっちゃ消防とか来てた！駅前に！人身事故らしい！
             　で、路線止まってるかまなみさんが調べてくれた！優しい・・・！頼れる・・・！
             　新宿御苑いったことないんだよねって話したら、私もない、
             　休みが合えば行ってみませんか？といってくれた！
             　めっちゃ嬉しかった！
             　そして、階段の前で解散！
             　なんか最後の挨拶の感じも優しかった！
             　プレゼントを渡した！
             　
             　なんだろ・・・優しかったな・・・
             　
             　そして今までで最もまともな初回デートだった気がする
             　
             　余韻に浸りつつ帰った！湘南新宿ラインでむさし小杉まで行ってしまった。
             　そのあと川崎へ！夜風と夜道とともに食べる、まなみさんが買ってくれたさつまいもタルトは秋の味がして
             　おいしかった。
             　
             　帰ってお風呂も入らずそのまま寝た！！！！！
             　
             　
             　楽しかったし、
             　なにより
             　
             　東京生活で
             　
             　もっと、もっと新しい世界が広がり始めたんだ
             　って感じた！！！！！！！！！！！
             　
             　平和島から家までの、いつもの帰り道
             　いつもと違って見えた
             　
             　まなみさん、ありがとう！！！！！！！！！！
             　
            </p>

        <h2 id="life" class="alert alert-primary">生活記録</div>
        <h3 id="weight">体重 : 83kg</div>
        <h3 id="eat">10000</div>
        <h2 id="money">10000</h2>
        <div id=""></div>
        <h2 id="schedule" class="alert alert-success">明日の予定</h2>
            <div id="eat_schedule">
                <p>朝ごはん : </p>
                <p>昼ごはん : かえん</p>
                <p>夜ごはん : カレーと、鶏肉やいたもの</p>
            </div>
            <ul>
                <li>白湯・体操</li>
                <li></li>
                <li>お昼にコインランドリー</li>
                <li>お米の買い出し、カレー具材の買い出し</li>
                <li>夜、マチノマで買い出し</li>
                <li>ジム</li>
                <li>夜はGo言語の勉強！</li>
            </ul>
            <h2 id="schedule" class="alert alert-warning">学んだこと</h2>
                <p>
                  ----- golangのnet/httpパッケージで、リクエストで送られてきたJSONを読み取る方法 ------------
                  まず、データ読み取り用の構造体を用意する.
                  json.NewDecoder(req.Body)を呼び出す。デコードは暗号化などを施されたものを復元すること。NewDecoderの引数にはio.Reader型の変数？を渡す。
                  io.Readerはストリームを扱うためのものである。リクエストのデータ量がでかすぎる場合も考えられるしメモリ効率を考えてストリームを使う。
                  json.NewDecoder(req.Body).Decode(データ格納用構造体へのアドレス)で、デコード結果を構造体に格納できる。
                  json.ってNewDecoderの前についてるから,「何のデータのデコードをするのか」を引数で指定しなくていい
                  ストリームは、ある一定のメモリ量を使いながらデータを読み込む
                  
                  json.Marshalで構造体をjson形式に変更することも可能。Marshalは、整理の意
                  -------- リクエストのクエリの読み取り方 --------------------------------------
                  req.URL.Query()で読み取れる。なぜかメソッドの形になってる。
                  
                  
                  formはいろいろな形式がある
                  formを読み取るときはreq.ParseForm()を実行する。formの形式によってはreq.ParseMultipartForm()を使う
                  ParseFormはreqオブジェクト？内のFormに値をセットする。
                  ParseFormはリクエストの解析を行う。
                  req.FormValue("Id")などで値を取り出せる.
                  MIMEタイプの形式は「ファイルの分類/ファイルの種類」
                  multipart/form-dataは、前述の通り複数の種類のデータを一度に扱える形式で、主な利用シーンはHTMLフォームです。特にファイルアップロードでよく利用されます
                  boundary=----WebKitFormBoundaryO5quBRiT4G7Vm3R7という値が指定されていることがわかります。これはコンテンツの境界を示す文字列です。
                  データ形式が複合型なので、1回の送信データでいくつかの種類のデータが含まれますが、
                  それらを分けるために使います（具体的にはボディ部で使います）。この境界を示す文字列はリクエストごとに変わるため、
                  手元で試した場合には別の文字列になります    
                  
                </p>
              <h2 id="schedule" class="alert alert-warning">疑問点</h2>
                <ul>
                  <li>リクエストが来たときにまず、ログインしているかどうかを確かめるが、reqオブジェクトがセッションを持っているかどうかだけで判断するだけでいいのか</li>
                  <li>app-formなんかちゃら形式の時はbody-parserを使う！</li>
                  <li>セッションには何の情報を含めるべきか、含めないべきか</li>
                  <li>トランザクションの使いどころ</li>
                </ul>
            <h2 id="schedule" class="alert alert-warning">その他</h2>
            <ul>
                <li>白湯を飲んだり運動したり、体温を高めると集中力が増すような。</li>
                <li>最近、</li>
            </ul>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   

           <!-- やることリスト -->
           <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">やることリスト</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">アマゾン注文</a></li>
              <li><a href="#">会社のマイナンバー</a></li>
              <li><a href="#">結婚式の招待状</a></li>
              <li>人と話すときの話題を考える！</li>
            </ul>
          </ul>


          <!-- よかったこと -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">よかったこと</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <!-- 反省点 -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">反省点</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">ともだち</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>
        <form action = "localhost:8080">
            <input type = "password" name = "password" placeholder="パスワード">
        </form>
    </body>
</html>