

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="20220905.css">
    
</head>
<body>
    
        <h1 id="title" class="alert alert-danger">9/5 Webアプリ開発研修!!!!!!!!!!</h1>
        <div id="events">
            <p>
                今日からWebアプリ開発研修の本番作業！朝会の時にGitHub Projectでタスクを管理する方法や研修の説明をしていただいた！
                投野さんも原園さんも優しい・・・！
                10:30から各自作業！小林さん、面談・・・？
                つくるものについてすぐまとめてすぐOKいただけたので、要件定義や、調査タスクの洗い出しを行った！
                仕様とか、どんな機能つけるとか、機能の詳細を考えた！
                15時から課ミーティング！
                16:30からタスクや現状についてレビューしていただいた！要求定義、要件定義、仕様が混ざってる、といった趣旨の指摘をしていただいた。
                そのレビュー後も、要求定義について考えて書き直したり！
                一回お風呂入ったあとまいばすけっと！いったん帰ったあとジムへ！
                要求定義・要件定義について勉強した！
            </p>

        <h2 id="life" class="alert alert-primary">生活記録</div>
        <h3 id="weight">体重 : 81.1kg</div>
        <h3 id="eat">朝:ごはんちょっと 昼: ペペロンチーノとごはん: 夜: カレーとかバナナ</div>
        <h2 id="money">まいばすけっと : 1500, 朝ごはん 500</h2>
        <div id=""></div>
        <h2 id="schedule" class="alert alert-success">明日の予定</h2>
            <div id="eat_schedule">
                <p>朝ごはん : TKG</p>
                <p>昼ごはん : カレー、もやし、</p>
                <p>夜ごはん : どこか</p>
            </div>
            <ul>
                <li>9:30 面談、会議のスケジュールをまとめる</li>
                <li>10:00 掃除・白湯・体操</li>
                <li>午前中: 要求定義、要件定義についてまとめる</li>
                
                <li>昼休み、結婚式の投函</li>
                <li>発明してみようの概要、手順を確認</li>
        
                <li>夜、結婚式の投函</li>
                <li>ポスト確認</li>
            </ul>
            <h2 id="schedule" class="alert alert-warning">学んだこと</h2>
                <ul>
                  <li>要求定義と要件定義の違い</li>
                  <li>非機能要件の要素</li>
                </ul>
              <h2 id="schedule" class="alert alert-warning">疑問点</h2>
                <ul>
                  <li>リクエストが来たときにまず、ログインしているかどうかを確かめるが、reqオブジェクトがセッションを持っているかどうかだけで判断するだけでいいのか</li>
                  <li>app-formなんかちゃら形式の時はbody-parserを使う！</li>
                  <li>セッションには何の情報を含めるべきか、含めないべきか</li>
                  <li>トランザクションの使いどころ</li>
                </ul>
            <h2 id="schedule" class="alert alert-warning">その他</h2>
            <ul>
                <li>白湯を飲んだり運動したり、体温を高めると集中力が増すような。</li>
                <li>最近、</li>
            </ul>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   

           <!-- やることリスト -->
           <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">やることリスト</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">アマゾン注文</a></li>
              <li><a href="#">会社のマイナンバー</a></li>
              <li><a href="#">結婚式の招待状</a></li>
              <li>人と話すときの話題を考える！</li>
            </ul>
          </ul>


          <!-- よかったこと -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">よかったこと</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <!-- 反省点 -->
          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">反省点</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>

          <ul id="accordion_menu">
            <li>
              <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">ともだち</a>
            </li>
            <ul id="menu03" class="collapse bg-dark" data-parent="#accordion_menu">
              <li><a href="#">ミホーク 35億</a></li>
              <li><a href="#">リンクサブメニュー3-2</a></li>
              <li><a href="#">リンクサブメニュー3-3</a></li>
            </ul>
          </ul>
        <form action = "localhost:8080">
            <input type = "password" name = "password" placeholder="パスワード">
        </form>
    </body>
</html>