<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <h1 id="title" class="alert alert-danger">Articles</h1>
  <ul>
    <li><a href="/articles/20220903" class="alert alert-primary">2022-09-03</a></li>
    <li><a href="/articles/20220904" class="alert alert-primary">2022-09-04</a></li>
    <li><a href="/articles/20220905" class="alert alert-primary">2022-09-05</a></li>
    <li><a href="/articles/20220906" class="alert alert-primary">2022-09-06</a></li>
    <li><a href="/articles/20220907" class="alert alert-primary">2022-09-07</a></li>
  </ul>
  
</body>
</html>
